.aboutcontainer {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 20px;
  margin-top: 1vh;
  margin-bottom: 11vh;
  padding: 15px;
}

.abouttitle {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 40px;
}
