.contactcontainer {
  display: flex;
  flex-direction: column;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
}

.tellink {
  color: black;
}

.emaillink {
  color: black;
}

.tellink:hover {
  text-decoration: none;
  color: dimgray;
}

.emaillink:hover {
  text-decoration: none;
  color: dimgray;
}

.contactcontainer:hover {
  text-decoration: none;
}
