.contactcontainer {
  display: flex;
  flex-direction: column;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 50px;
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 34px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.tellink {
  color: black;
}

.emaillink {
  color: black;
}

.tellink:hover {
  text-decoration: none;
  color: dimgray;
}

.emaillink:hover {
  text-decoration: none;
  color: dimgray;
}

.contactcontainer:hover {
  text-decoration: none;
}
