.footer {
  display: grid;
  background-color: white;
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 10vh;
  font-family: 'Passion One', cursive;
  border-top: 1px solid black;
}
.sm {
  padding: 5px;
  height: 40px;
  width: auto;
}
.footercontainer1 {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.footercontainer2 {
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.resumelink {
  color: black;
  grid-column: 1;
  grid-row: 2;
}

.resumelink:hover {
  text-decoration: none;
  color: dimgray;
}

.credlink {
  color: black;
}

.credlink:hover {
  text-decoration: none;
  color: dimgray;
}

@media (min-width: 320px) {
  .resumelink {
    font-size: 30px;
  }
  .footercontainer2 {
    font-size: 70%;
  }
}

@media (min-width: 475px) {
  .resumelink {
    font-size: 30px;
  }
  .footercontainer2 {
    font-size: 100%;
  }
}
