.header {
  height: 11vh;
  display: grid;
  background-color: white;
  font-size: 34px;
  position: sticky;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid black;
}
.title {
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Passion One', cursive;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}
.title:hover {
  text-decoration: none;
  color: dimgray;
}
.nav {
  font-family: 'Passion One', cursive;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  border: 1px coral;
}
.link {
  color: black;
}
.link:hover {
  text-decoration: none;
  color: dimgray;
}

@media (min-width: 320px) {
  .title {
    font-size: 80%;
  }
  .nav {
    font-size: 80%;
  }
}

@media (min-width: 425px) {
  .title {
    font-size: 100%;
  }
  .resumelink {
    font-size: 100%;
  }
}
