.header {
  display: grid;
  background-color: white;
  border: 1px solid red;
  font-size: 34px;
  position: sticky;
  top: 0;
  width: 100vw;
}
.title {
  display: flex;
  flex-direction: row;
  font-family: 'Passion One', cursive;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

.smlinks {
  grid-column: 2;
  grid-row: 2;
}
.sm {
  padding: 5px;
  height: 50px;
  width: auto;
}
.resumelink {
  font-size: 30px;
  grid-column: 1;
  grid-row: 2;
}
.nav {
  font-family: 'Passion One', cursive;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  border: 1px coral;
}
.headerRow2 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 50px;
}

@media (min-width: 320px) {
  .title {
    font-size: 80%;
  }
  .sm {
    height: 40px;
  }
  .resumelink {
    font-size: 80%;
  }
  .nav {
    font-size: 80%;
  }
}

@media (min-width: 425px) {
  .title {
    font-size: 100%;
  }
  .sm {
    height: 50px;
  }
  .nav {
    font-size: 100%;
  }
  .resumelink {
    font-size: 100%;
  }
}
