.projectcontainer {
  max-width: 100%;
  height: 78vh;
}
.projectcard {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 60vw auto;
  grid-template-areas:
    'image title github'
    'image line1 line1'
    'image stack stack'
    'image line2 line2'
    'image description description';
  height: auto;
  padding: 10px;
  margin: 10px;
}

.projectcontainer {
  height: auto;
  margin-bottom: 11vh;
}

.pctitle {
  color: black;
  font-family: 'Passion One', cursive;
  display: flex;
  font-size: 30px;
  justify-self: center;
  grid-area: title;
}

.pctitle:hover {
  text-decoration: none;
  color: dimgray;
}

.githublink {
  display: flex;
  justify-content: flex-end;
  grid-area: github;
}
.githubpic {
  height: 40px;
  width: auto;
}
.pcstack {
  margin: 5px;
  border: 1px solid black;
  color: black;
  font-family: 'Cabin Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  grid-area: stack;
}

.stacklink {
  color: black;
}

.stacklink:hover {
  text-decoration: none;
  color: dimgray;
}

.pcdesc {
  width: 65vw;
  height: auto;
  text-align: center;
  font-family: 'Cabin Condensed', sans-serif;
  grid-area: description;
  font-size: 16px;
}

.pcimg {
  border: 1px solid black;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 25vw;
  grid-area: image;
}

@media (max-width: 800px) {
  .projectcard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'image title github'
      'stack stack stack'
      'description description description';
    height: auto;
  }
  .projectcontainer {
    width: 100vw;
    height: auto;
    margin-bottom: 11vh;
  }
  .pctitle {
    font-family: 'Passion One', cursive;
    display: flex;
    padding: 5px;
    font-size: 28px;
    justify-content: space-evenly;
    grid-area: title;
  }
  .githublink {
    justify-self: end;
    grid-area: github;
  }
  .githubpic {
    height: 35px;
    width: auto;
  }
  .pcstack {
    font-family: 'Cabin Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
    grid-area: stack;
  }
  .pcdesc {
    height: auto;
    justify-self: center;
    text-align: center;
    font-family: 'Cabin Condensed', sans-serif;
    grid-area: description;
  }
  .pcimg {
    justify-self: start;
    align-self: center;
    height: auto;
    grid-area: image;
  }
}
