.projectcontainer {
  height: auto;
  margin-bottom: 11vh;
}

.projectcard {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    'image title'
    'image stack'
    'image description';
  height: auto;
  padding: 10px;
  margin: 10px;
}

.projectcontainer {
  height: auto;
  margin-bottom: 11vh;
}

.pctitle {
  color: black;
  font-family: 'Passion One', cursive;
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  grid-area: title;
}

.pcstack {
  color: black;
  font-family: 'Cabin Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  grid-area: stack;
}

.stacklink {
  color: black;
}

.pcdesc {
  width: 65vw;
  height: auto;
  text-align: center;
  font-family: 'Cabin Condensed', sans-serif;
  grid-area: description;
  font-size: 16px;
}

.pcimg {
  border: 1px solid black;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 25vw;
  grid-area: image;
}

@media (max-width: 800px) {
  .projectcard {
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'image'
      'title'
      'stack'
      'description';
    height: auto;
  }
  .projectcontainer {
    width: 100vw;
    height: auto;
    margin-bottom: 11vh;
  }
  .pctitle {
    font-family: 'Passion One', cursive;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    grid-area: title;
  }
  .pcstack {
    font-family: 'Cabin Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
    grid-area: stack;
  }
  .pcdesc {
    height: auto;
    justify-self: center;
    text-align: center;
    font-family: 'Cabin Condensed', sans-serif;
    grid-area: description;
  }
  .pcimg {
    justify-self: center;
    align-self: center;
    height: auto;
    grid-area: image;
  }
}
