.App {
  display: grid;
  text-align: center;
  width: 100%;
}

.projectcard {
  border: 1px solid black;
  margin: 10px;
  display: grid;
  height: auto;
  padding: 10px;
}

.pctitle {
  font-family: 'Passion One', cursive;
  display: flex;
  font-size: 30px;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}

.pcstack {
  font-family: 'Cabin Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 4;
}

.pcdesc {
  font-family: 'Cabin Condensed', sans-serif;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
}

.pcimg {
  width: 10pc;
  grid-column: 1;
  grid-row: 1;
}

@media (max-width: 300px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 200%;
  }
}
