.App {
  display: grid;
  grid-template-rows: 10vw auto 5vw;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.header {
  display: grid;
  height: 130px;
  grid-template-columns: 25% auto auto 25%;
  grid-template-rows: auto auto auto;
  background-color: white;
  border: 1px solid red;
  position: sticky;
  top: 0;
  width: 100vw;
}
.title {
  display: flex;
  font-family: 'Passion One', cursive;
  justify-content: space-evenly;
  grid-column: 2;
  grid-row: 1;
  font-size: 34px;
}

.smlinks {
  grid-column: 2;
  grid-row: 2;
}
.sm {
  height: 30px;
  width: auto;
}
.contactinfo {
  grid-column: 3;
  grid-row: 2;
}

.footer {
  border: 1px solid green;
  background-color: white;
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 34px;
}

.nav {
  font-family: 'Passion One', cursive;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  grid-row: 3;
  width: 100vw;
  border: 1px coral;
}

.projectcard {
  border: 1px solid black;
  margin: 10px;
  display: grid;
  height: auto;
  padding: 10px;
}

.pctitle {
  font-family: 'Passion One', cursive;
  display: flex;
  font-size: 30px;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}

.pcstack {
  font-family: 'Cabin Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 4;
}

.pcdesc {
  font-family: 'Cabin Condensed', sans-serif;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
}

.pcimg {
  width: 10pc;
  grid-column: 1;
  grid-row: 1;
}

.resumelink {
  float: left;
}

.aboutcontainer {
  margin-top: 130px;
  font-family: 'Cabin Condensed', sans-serif;
  border: solid 1px red;
  margin-bottom: 50px;
}
